{
  // 🔸 세미콜론 사용하지 않기
  "semi": false,
  
  // 🔸 작은따옴표 사용하기
  "singleQuote": true,
  
  // 🔸 모든 배열/객체에 trailing comma 추가
  "trailingComma": "all",
  
  // 🔸 한 줄의 최대 길이
  "printWidth": 80,
  
  // 🔸 탭 대신 스페이스 사용
  "useTabs": false,
  
  // 🔸 탭 크기
  "tabWidth": 2,
  
  // 🔸 JSX에서 작은따옴표 사용
  "jsxSingleQuote": true,
  
  // 🔸 JSX의 마지막 `>` 를 다음 줄에 배치
  "jsxBracketSameLine": false,
  
  // 🔸 화살표 함수의 매개변수 괄호
  "arrowParens": "always"
} 